.listing-apply {
  padding: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: white;
  border: 5px solid #9ECFD4;
  border-radius: 5px; 
}

.example-full-width {
  width: 100%;
}