.listing {
  background: #B6AE9F;
  border: #C5C7BC 2px solid;
  border-radius: 3px;
  padding-bottom: 3px;
}
.listing-heading {
  color: #ffffff;
  padding: 5px 5px 0 5px;
}
.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}
.listing-description {
  color: #ffffff;
  padding: 5px 5px 5px 5px;
}
.listing-description::before {
  content: url("/assets/location-pin.svg") / "";
}
section.listing a {
  padding-left: 10px;
  text-decoration: none;
  color: #9ECFD4;
}
section.listing a::after {
  content: "\203A";
  margin-left: 5px;
}