label, input {
  display: block;
}
label {
  color: #1A2A4F;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 12pt;
}
input, textarea {
  font-size: 12pt;
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border: solid .3px #1A2A4F;
  border-radius: 3px;
}

button {
    font-size: 12pt;
    font-weight: bold;
    color: #ffffff;
    background-color: #63A361;
    padding: 5px;
    width: 150px;
    height: 35px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}