.toolbar {
    border-bottom: 5px solid #a0c0bd;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.example-button {
  margin: 8px 8px 8px 16px;
  border-radius: 2px;
  border: 2px solid #a0c0bd;
}

main {
    min-height: 100%;
    background-color: #BADFDB;
}

.content {
    margin-top: 0px;
    padding-top: 0px;
}
