.listing-heading {
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 5px;
}
.listing-small-heading {
  font-size: 14pt;
  font-weight: normal;
  margin-bottom: 5px;
}
.listing-date {
  margin-bottom: 5px;
}
.listing-description {
  font-size: 12pt;
  margin-bottom: 25px;
}
label, input {
  display: block;
}
label {
  color: #FFA4A4;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
}
input {
  font-size: 16pt;
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid .3px;
}

article {
  padding: 20pt;
  background-color: #BADFDB;
  min-height: 100%;
}

.example-card {
  max-width: 400px;
}

.example-card-footer {
  padding: 16px;
}